.header-hero{
	background-image: https://raw.githubusercontent.com/tiy-atl-js-sept-2015/Assignments/master/Assignment-04/Normal-Mode/assets/background.jpg
}

.banner{
	background: url();
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabs {
	height: 10px
	padding:0;
}
ul.boxes{
	list-style: none;
}


body{

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
ul{
	
}

